@import "variables.scss";

span {
  font-family: $heading-font;
}

.warp-date {
  position: relative;
  width: 100%;
  height: 200px;
  left: -120px;
  top: -170px;
  color: $secondary-gold-color;
  font-size: 2rem;
  text-align: center;
}

[class*='warp-date__'] {
  display: block;
  position: absolute;
  left: 50%; /* center the child elements horizontally */
  transform: translateX(-50%);
}

.warp-date__0 {
  transform-origin: 50% 44px;
  transform: translate(0px,195.284px) rotate(0.405549rad);
}

.warp-date__1 {
  transform-origin: 50% 44px;
  transform: translate(15px,205.0855px) rotate(0.292854rad);
}

.warp-date__2 {
  transform-origin: 50% 44px;
  transform: translate(35px,211.4876px) rotate(0.205294rad);
}

.warp-date__3 {
  transform-origin: 50% 44px;
  transform: translate(55px,216.2656px) rotate(0.119953rad);
}

.warp-date__4 {
  transform-origin: 50% 44px;
  transform: translate(85px,219.063px) rotate(0.027228rad);
}

.warp-date__5 {
  transform-origin: 50% 44px;
  transform: translate(120px,218.8875px) rotate(-0.036373rad);
}

.warp-date__6 {
  transform-origin: 50% 44px;
  transform: translate(145px,216.9371px) rotate(-0.097292rad);
}

.warp-date__7 {
  transform-origin: 50% 44px;
  transform: translate(175px,211.6235px) rotate(-0.189648rad);
}

.warp-date__8 {
  transform-origin: 50% 44px;
  transform: translate(205px,202.4617px) rotate(-0.304221rad);
}

.warp-date__9 {
  transform-origin: 50% 44px;
  transform: translate(230px,192.9226px) rotate(-0.44481rad);
}
