@import "variables.scss";
@import "../../node_modules/rfs/scss";

.navbar-title {
  position: relative;

  .title {
    font-family: $stylish-font;
    letter-spacing: 1px;
    color: $primary-gold-color;
    font-size:13rem;
  }

  .navbar-subtitle {
    padding: 0;
    width: 20%;
    position: absolute;
    top: 70%;
    left: 64%;
  }

  margin-bottom: 4rem;
}

.navbar-links {
  .link {
    text-decoration: none;
    font-family: $heading-font;
    font-size:2vw;
    color: $dark-color;
    letter-spacing: 2px;

    &.active-link {
      color: $primary-gold-color;
    }
  }
}

.navbar-lines {
  .navbar-line {
    height: $sizeBorder;
    border: none;
    background-color: $primary-gold-color;
    opacity: 100;
    margin-bottom: 0;
  }

  .navbar-subline {
    position: relative;

    .subline {
      height: 0.3rem;
      visibility: hidden;
      border: none;
      background-color: $primary-gold-color;
      opacity: 100;
      border-bottom-left-radius: 160px;
      border-bottom-right-radius: 160px;
    }

    .subline-active {
      width: 60%;
      margin: 0;
      visibility: visible;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .navbar-title .title {
    font-size:12vw;
  }
}

@media only screen and (max-width: 1440px) {
  .navbar-title .title {
    font-size:12vw;
  }

  .navbar-links {
    .link {
      font-size:1.8vw;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .navbar-title .title {
    font-size:12vw;
  }

  .navbar-links {
    .link {
      font-size:1.6vw;
    }
  }
}

/* Tablette */
@media only screen and (max-width: 1024px) {
  .navbar-title .title {
    font-size:12.5vw;
  }
  .navbar-links {
    .link {
      font-size:2vw;
    }
  }
}

/* Phone */
@media only screen and (max-width: 768px) {
  .navbar-title {
    .title {
      font-size:13vw;
    }
    .navbar-subtitle {
      top: 66%;
      left: 62%;
      width: 30%;
      .subtitle {
        font-size:2vw;
      }
    }
    margin-bottom: 1rem;
  }

  .navbar-lines {
    .navbar-subline {
      .subline-active {
        width: 80%;
      }

      .subline {
        height: 2px;
      }
    }
  }

  .navbar-links {
    .link {
      font-size:3.5vw;
    }
  }
}

@media only screen and (max-width: 425px) {
  .navbar-title {
    .title {
      font-size:14vw;
    }
    .navbar-subtitle {
      top: 60%;
      left: 63%;
      width: 30%;
      .subtitle {
        font-size:2.4vw;
      }
    }
    margin-bottom: 1rem;
  }

  .navbar-lines {
    .navbar-subline {

      .subline-active {
        width: 100%;
      }
      .subline {
        height: 1.5px;
      }
    }
  }

  .navbar-links {
    .link {
      font-size:3.5vw;
    }
  }
}
