<nav class="container-fluid mb-3">
  <div class="unselectable-content row justify-content-center">
    <img alt="image du logo" i18n-alt class="col-xxl-8 col-xl-8 col-lg-9 col-md-9 col-sm-12 col-12  mt-2 logo"
      src="/assets/images/logo-full.png" />
  </div>
  <div class="unselectable-content row justify-content-center navbar-title">
    <div class="row text-center col-12">
      <h1 class="title mt-sm-3 mt-md-3">Huyen & Clément</h1>
    </div>
    <div class="row navbar-subtitle col-5">
      <p class="subtitle" i18n>Are getting married</p>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center unselectable-content">
    <div class="navbar-links row col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
      <a class="link col text-center" routerLink="/home" routerLinkActive="active-link" i18n>HOME</a>
      <a class="link col text-center" routerLink="/information" routerLinkActive="active-link" i18n>DETAILS</a>
      <a class="link col text-center" routerLink="/register" routerLinkActive="active-link" i18n>RSVP</a>
      <a class="link col text-center" routerLink="/photo" routerLinkActive="active-link" i18n>GALLERY</a>
    </div>
  </div>

  <div class="d-flex justify-content-center unselectable-content mt-1">
    <div class="navbar-lines row col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
      <hr class="navbar-line col-12">
      <div class="navbar-subline col d-flex justify-content-center">
        <hr class="subline" [ngClass]="{'subline-active': isActivesRoutes('/', '/home')}">
      </div>
      <div class="navbar-subline col d-flex justify-content-center">
        <hr class="subline" [ngClass]="{'subline-active': isActivesRoutes('/information')}">
      </div>
      <div class="navbar-subline col d-flex justify-content-center">
        <hr class="subline" [ngClass]="{'subline-active': isActivesRoutes('/register')}">
      </div>
      <div class="navbar-subline col d-flex justify-content-center">
        <hr class="subline" [ngClass]="{'subline-active': isActivesRoutes('/photo')}">
      </div>
    </div>
  </div>
</nav>
