<div class="countdown d-flex flex-column align-items-center">
  <div class="countdown-title d-flex flex-column align-items-center">
    <h1 class="section-heading gold text-center" i18n>Time remaining</h1>
    <img class="us" src="/assets/images/us.png" alt="us" />
  </div>
  <div class="unselectable-content d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <app-countdown-custom [unit]="daysToDday"></app-countdown-custom>
      <div class="d-flex justify-content-center mt-2">
        <span class="clock-unit mt-2" i18n>
          Days
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <app-countdown-custom [unit]="hoursToDday"></app-countdown-custom>
      <div class="d-flex justify-content-center mt-2">
        <span class="clock-unit mt-2" i18n>
          Hours
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <app-countdown-custom [unit]="minutesToDday"></app-countdown-custom>
      <div class="d-flex justify-content-center mt-2">
        <span class="clock-unit mt-2" i18n>
          Minutes
        </span>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center">
      <app-countdown-custom [unit]="secondsToDday"></app-countdown-custom>
      <div class="d-flex justify-content-center mt-2">
        <span class="clock-unit mt-2" i18n>
          Seconds
        </span>
      </div>
    </div>
  </div>
  <button class="light-button" data-style="no-move" routerLink="/register" routerLinkActive="active-link" i18n>
    INSCRIPTION
  </button>
</div>
