@import "variables.scss";
@import "../../../node_modules/rfs/scss";

.countdown{
  background: rgb(67,206,162);
  background: linear-gradient(0deg, rgba(67,206,162,1) 0%, rgba(87,215,180,1) 8%, rgba(100,221,192,1) 18%, rgba(141,240,229,1) 50%, rgba(143,217,206,1) 75%, rgba(125,192,182,1) 100%);
}

.clock-unit {
  font-family: 'fenomen';
  font-size: 4.5vh;
  margin-top: 2rem;
  color:$white-color;
}

.flip-element {
  border-radius: $borderRadius;
  box-shadow: -3vh 3vh 17px #6ba197, 20px -20px 35px #9FF1EC
}


.register-button {
  padding: 2.5rem 1rem 2rem 1rem;
}
