@font-face {
  font-family: "saudagar";
  src: local("saudagar-font"), url(/assets/fonts/Saudagar.ttf) format("truetype");
}

@font-face {
  font-family: "cherolina";
  src: local("cherolina-font"), url(/assets/fonts/Cherolina.ttf) format("truetype");
}

@font-face {
  font-family: "norma";
  src: local("norma-font"), url(/assets/fonts/Norma-Bold.ttf) format("truetype");
}
