// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webForm-primary: mat.define-palette(mat.$indigo-palette);
$webForm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webForm-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$webForm-theme: mat.define-light-theme((
  color: (
    primary: $webForm-primary,
    accent: $webForm-accent,
    warn: $webForm-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($webForm-theme);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "variables.scss";

html, body { padding: 0; margin: 0;} 

app-root {
  background-color:red;
  width:100%;
  height:100%;
}

// FONTS

@font-face {
    font-family: "Norma-Bold";
    src: local("Norma-Bold"), url(../assets/fonts/Norma-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Saudagar";
  src: local("Saudagar"), url(../assets/fonts/Saudagar.ttf) format("truetype");
}


.container-background {
  background-color:$light-blue-color;
  min-height:100vh;
}

.container-content {
  margin-top:120px;
  width:90%;
  height:100%;
  background-color:$white-color;
}

.navbar-top {
  border-radius:50%;
  background-color:$white-color;
  height:250px;
  width:90%;
  position:absolute;
  border: 1px solid red;
}


.navbar-container {
  background-color:$light-blue-color;
  width:90%;
}


.test1{
  border: 1px solid blue;
}

.test2{
  border: 1px solid red;
}

.top {
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  width:20px;
  height:20px;
  background-color:red;
}


.navbar-main {
  //box-shadow: 0 2px 5px #0000004d;
  // box-shadow: 0 1px 2.5px #EDB24C;
}



.navbar-sub {
  background-color: #E3FFFC;
}


// body {
//   margin: 0;
//   padding: 0;
// }




.form-container {
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items:left;
    justify-content:left;
}


// TOGGLE

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: $blue-color;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $red-color;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-image: url('../assets/images/english-flag.png');
  background-size: 100% 100%;
}

.mat-slide-toggle-thumb {
  background-image: url('../assets/images/french-flag.png');
  background-size: 100% 100%;
}
