/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "variables.scss";

html, body { padding: 0; margin: 0;}


app-header {
  min-height: 20rem;
  height: 20rem;
}

.naming-text {
  font-family: 'saudagar';
}


.font {
  font: 1.2em "saudagar";
}


.golden-background {
  background: rgb(170,129,83);
  background: radial-gradient(circle, rgba(170,129,83,1) 2%,
  rgba(170,129,83,1) 14%, rgba(184,143,91,1) 25%,
   rgba(184,143,91,1) 36%, rgba(192,152,96,1) 46%,
    rgba(208,167,104,1) 60%, rgba(241,198,122,1) 80%,
    rgba(229,184,115,1) 100%);
}
