$primary-blue-color: #8DF0E5;
$secondary-blue-color: #70e9da;
$light-blue-color: #E3FFFC;
$primary-gold-color: #EDB24C;
$secondary-gold-color:#E59933;
$dark-color: #231D21;
$grey-color: #F0EBE5;
$white-color: #fbf9f7;
$blue-color: #122274;
$red-color: #CF081F;
