<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-1"></div>
      <div class="warp-date" aria-labelledby="warp-label">
        <span aria-role="presentation">
          <span class="warp-date__0">
            1
          </span>
          <span class="warp-date__1">
            7
          </span>
          <span class="warp-date__2">
            -
          </span>
          <span class="warp-date__3">
            0
          </span>
          <span class="warp-date__4">
            6
          </span>
          <span class="warp-date__5">
            -
          </span>
          <span class="warp-date__6">
            2
          </span>
          <span class="warp-date__7">
            0
          </span>
          <span class="warp-date__8">
            2
          </span>
          <span class="warp-date__9">
            3
          </span>
        </span>
      </div>
      <div class="col-1"></div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
