@import "variables.scss";
@import "../../../node_modules/rfs/scss";

.form-container {
  background-color: $grey-color;
  border-radius: $border-radius;
  width: 50%;

  .form-presentation {
    h1 {
      color: $primary-gold-color;
    }
  }

  .form-group {
    .guest-info {
      margin-bottom: 20px;
    }

    .guest-detail {
      margin-bottom: 20px;
    }
  }

  .form-detail {
    .guest-person {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      .guest-person-label {
        font-size: 1.1rem;
      }
    }

    .guest-child {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      .guest-child-label {
        font-size: 1.1rem;
      }
    }

    .guest-dietary-detail {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .input-button {
      background-color: $grey-color;
      border: 0;

      .las {
        border-radius: 8rem;
        box-shadow: inset 0 0 0 4px $grey-color;
        background-color: $white-color;
        font-size: 2.2rem;
        color: $primary-gold-color;
      }
    }

    .guest-music-style {
      padding: 20px;
    }

    .badge-song {
      border-radius: $border-radius;
      margin-top: 6px;
      margin-bottom: 6px;
      margin-left: 5px;
      padding: 6px;
      background-color: $primary-gold-color;
      color: $dark-color;

      .las {
        padding-top: 2px;
        padding-right: 5px;
        font-size: 1.8rem;
      }

      .las:hover {
        color: $white-color;
      }

      .blank-button {
        background-color: $primary-gold-color;
        border-radius: $border-radius;
        border: none;
      }

      span {
        font-size: 1rem;
        padding-right: 9px;
      }
    }
  }
}

.is-invalid {
  border-color: $red-color;
}

::ng-deep ngx-intl-tel-input .iti{ width: 100% !important; }

//TODO tablette and mobile music checkboxes inline


@media only screen and (min-width: 1440px) {
  .form-container {
    width: 50%;
    padding: 4rem !important;
  }
}


@media only screen and (max-width: 1440px) {
  .form-container {
    width: 50%;
  }
}

@media only screen and (max-width: 1280px) {

  .form-container {
    width: 60%;
  }
}

@media only screen and (max-width: 960px) {

  .form-container {
    width: 80%;
  }
}


@media only screen and (min-width: 720px) {
  .guest-name,
  .guest-phone {
    padding-right: 12px !important;
  }

  .guest-surname,
  .guest-email {
    padding-left: 12px !important;
  }
}


@media only screen and (max-width: 720px) {
  .form-container {
    width: 85%;
    padding: 1.5rem !important;
  }
}

@media only screen and (max-width: 540px) {
  .form-container {
    width: 90%;
    padding: 1.5rem !important;
  }
  .form-check {
    display: block !important;
  }
}
