/* FONTS */
@font-face {
  font-family: "josefin-light-italic";
  src: url("/assets/fonts/JosefinSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "josefin-light";
  src: url("/assets/fonts/JosefinSans-Light.woff") format("woff");
}

@font-face {
  font-family: "josefin-medium";
  src: url("/assets/fonts/JosefinSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "josefin-medium-italic";
  src: url("/assets/fonts/JosefinSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "josefin-regular";
  src: url("/assets/fonts/JosefinSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "cherolina";
  src: url("/assets/fonts/Cherolina.woff") format("woff");
}

@font-face {
  font-family: "fenomen";
  src: url("/assets/fonts/Fenomen.woff") format("woff");
}

@font-face {
  font-family: "saudagar";
  src: url("/assets/fonts/Saudagar.woff") format("woff");
}

@font-face {
  font-family: "utopia";
  src: url("/assets/fonts/Utopia.woff") format("woff");
}
