<footer>
  <div class="main-footer d-flex flex-column justify-content-center align-items-center ">
    <div class="container">
      <div class="row h-50">
        <a class="col social linkedin-link" href="https://twitter.com/CDXitech"></a>
        <a
          class="col linkedin-link"
          href="https://www.linkedin.com/in/cl%C3%A9ment-gibert-7012"
        ></a>
        <a
          class="col"
          href="https://github.com/ClementGib/ClementGib"
        ></a>
        <a class="col" href="mailto:cdx.it.contact@gmail.com"></a>
      </div>
      <div class="row">
        <a class="col text-center" [routerLink]="['/login']">Login</a>
        <a class="col text-center" [routerLink]="['/courses']">Cours</a>
        <a class="col text-center" [routerLink]="['/profile']">Profil</a>
      </div>
      <div class="row justify-content-center">
      <img
        class="logo-footer"
        src="/assets/images/arrow.png"
        alt="Logo"
      />
    </div>
    </div>
  </div>
  <div class="sub-footer">
    <p>Powered by CDX 2023</p>
    <!-- <p>Version: {{ version }}</p> -->
  </div>
</footer>
