<section class="couple-section">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <img class="heart-background" src="/assets/images/heart-with-radient.svg" alt="heart">
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <app-bend-title-top></app-bend-title-top>
        <div class="card husband col-sm-4 col-md-4 col-lg-4 col-xl-3 d-flex flex-column justify-content-center align-items-center">
          <img class="image-husban" src="/assets/images/clement_profil.jpg" alt="clement">
          <div class="card-info mt-2">
            <div class="d-flex align-items-center justify-content-start">
              <p class="couple-title">Clément Gibert</p>
              <img class="icon-certified" src="/assets/images/certified.svg" alt="certified" />
            </div>
            <div class="d-flex col align-items-start justify-content-start">
              <i class="las la-map-marker"></i>
              <p class="couple-subtitle ml-5">Nîmes, France</p>
            </div>
          </div>
        </div>
        <div class="middle d-flex flex-column justify-content-end align-items-center">
          <img class="flower" src="/assets/images/flower.png" alt="certified" />
        </div>
        <div
          class="card wife col-sm-4 col-md-4 col-lg-4 col-xl-3 d-flex flex-column justify-content-center align-items-center">
          <img class="image-wife" src="/assets/images/huyen_profil.jpg" alt="clement">
          <div class="card-info mt-2">
            <div class="d-flex align-items-center justify-content-start">
              <p class="couple-title">Huyen Lethi</p>
              <img class="icon-certified" src="/assets/images/certified.svg" alt="certified" />
            </div>
            <div class="d-flex align-items-start justify-content-start">
              <i class="las la-map-marker"></i>
              <p class="couple-subtitle ml-5">Hanoi, Vietnam</p>
            </div>
          </div>
        </div>
      </div>
      <app-bend-title-bottom></app-bend-title-bottom>
    </div>
  </div>
  <div class="welcome-text text-center mt-5">
    <p>We would be honored if you could join us to celebrate our wedding day.</p>
    <p>Please save the date and RSVP through our wedding website.</p>
    <p>We can't wait to share this special day with you.</p>
  </div>
</section>
<div class="bottom"></div>
