@import "variables.scss";
@import "../../../node_modules/rfs/scss";

.countdown {
  // background: #1db1e2;
  // background: linear-gradient(0deg, #1db1e2 0%, #40c2cc 35%, #8ee3e9 100%;

  background: rgb(29,177,226);
  background: radial-gradient(circle, rgba(29,177,226,1) 0%, rgba(64,194,204,1) 50%, rgba(142,227,233,1) 85%, rgba(186,239,242,1) 100%);
  padding: 100px 0 10px;

  .countdown-title {
    padding: 0 0 5vw 0;
    position: relative;
    display: inline-flex;
    margin-top: 6vw;

    .us {
      width: 60%;
      border-radius: 25px;
    }
    .countdown-text-stick {
      position: absolute;
      top: -11%;
      left: 0%;
      width: 100%;
    }
  }


.clock-unit {
  color: $white-color;
}

}

.flip-element {
  border-radius: $borderRadius;
  background: $white-color;
  box-shadow: inset 20px 20px 60px $third-secondary-blue-shadow-dark-1,
    inset -20px -20px 60px $third-secondary-blue-shadow-dark-2;
}

@media only screen and (min-width: 2560px) {
  .clock-unit {
    font-size:3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .clock-unit {
    font-size:2.8rem;
  }
}

@media only screen and (max-width: 1440px) {
  .clock-unit {
    font-size:2rem;
  }

  .us {
    width: 70% !important;
  }

}

/* Tablette */
@media only screen and (max-width: 1024px) {
  .countdown-text-stick {
    top: -14% !important;
  }

  .section-heading {
    font-size:7vw;
  }

  .clock-unit {
    font-size:3vw;
  }
}

@media only screen and (max-width: 768px) {
  .clock-unit {
    font-size:5vw;
  }

  .countdown-text-stick {
    top: -16% !important;
  }

  .us {
    width: 80% !important;
  }
}

@media only screen and (max-width: 425px) {
  .countdown-text-stick {
    top: -19% !important;
  }

  .section-heading {
    font-size: 8vw;
  }
  .clock-unit {
    font-size:1.2rem;
  }
}
