@import "variables.scss";

.couple-section {
  min-height: 22rem;
  background-color: $grey-color;
  padding: 40px 0 40px;


  .info-center {
    width: 10%;
    .heart {
      width: 35%;
      height: 50px;
      animation: 1.5s ease 0s infinite beat;
  }
  }


  .couple {
    width: 45%;
    max-width: 50%;
    img {
      width: 280px;
      height: 320px;
      border-radius: 50%;
      border: 6px solid $secondary-gold-color;
    }
    .couple-title {
      font-size: 68px;
      color: $secondary-gold-color;
      font-family: $stylish-font;
      letter-spacing: 1px;
    }
  }

  .logo-bottom {
    width: 25%;
  }
}

@keyframes beat {
  0%, 50%, 100% { transform: scale(1.1, 1.1); }
  30%, 80% { transform: scale(0.92, 0.95); }
}
