<section class="couple-section">
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>It's a match</h1>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card husband col-sm-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column justify-content-center align-items-center">
          <img src="/assets/images/clement_profil.jpg" alt="clement">
          <div class="card-info mt-2">
            <div class="d-flex align-items-center justify-content-start">
              <p class="couple-title">Clément Gibert, {{CBirthDay | agePipe}}</p>
              <img class="icon-certified" src="/assets/images/certified.svg" alt="certified" />
            </div>
            <div class="d-flex align-items-start justify-content-start">
              <i class="las la-map-marker"></i>
              <p class="ml-5">Nîmes, France</p>
            </div>
          </div>
        </div>
        <div class="middle col-1 d-flex flex-column justify-content-end align-items-center">
          <img class="matcher" src="/assets/images/percentmatcher.svg" alt="certified" />
        </div>
        <div class="card wife col-sm-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column justify-content-center align-items-center">
          <img src="/assets/images/huyen_profil.jpg" alt="clement">
          <div class="card-info mt-2">
            <div class="d-flex align-items-center justify-content-start">
              <p class="couple-title">Huyen Lethi, {{HBirthDay | agePipe}}</p>
              <img class="icon-certified" src="/assets/images/certified.svg" alt="certified" />
            </div>
            <div class="d-flex align-items-start justify-content-start">
              <i class="las la-map-marker"></i>
              <p class="ml-5">Hanoi, Vietnam</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="welcom-container text-center">
      <p class="welcom-text">Nous sommes ravis de vous inviter à notre mariage qui aura lieu le <b>7 juin 2023</b>. <br>
         Nous espérons que vous pourrez être des nôtres pour célébrer avec nous cette journée si spéciale.
         Merci de faire partie de notre vie et de partager ce moment important avec nous.</p>
    </div>
  </div>
</section>
