<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-1"></div>
      <div class="warp" aria-labelledby="warp-label">
        <span aria-role="presentation">
          <span class="warp__0">
            S
          </span>
          <span class="warp__1">
            a
          </span>
          <span class="warp__2">
            v
          </span>
          <span class="warp__3">
            e
          </span>
          <span class="warp__4">

          </span>
          <span class="warp__5">
            t
          </span>
          <span class="warp__6">
            h
          </span>
          <span class="warp__7">
            e
          </span>
          <span class="warp__8">

          </span>
          <span class="warp__9">
            d
          </span>
          <span class="warp__10">
            a
          </span>
          <span class="warp__11">
            t
          </span>
          <span class="warp__12">
            e
          </span>
        </span>
      </div>
      <div class="col-1"></div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
