<nav class="navbar-main mb-4">
  <div class="navbar-container d-flex justify-content-end">

    <div class="d-flex justify-content-center flex-row col-sm-12 pt-3 pb-3">
      <div class="d-flex justify-content-around col-6">
          <a class="navbar-link" href="">ACCUEIL</a>
          <a class="navbar-link" href="">INFORMATION</a>
          <a class="navbar-link" href="">INSCRIPTION</a>
          <a class="navbar-link" href="">PHOTO</a>
      </div>
    </div>
    <mat-slide-toggle></mat-slide-toggle>
  </div>

  <div class="navbar-sub d-flex flex-column align-items-center mt-1">
      <img class="col-5 mt-2" src="/assets/images/logo3_crop.png">
  </div>
</nav>
