@import "variables.scss";

.crop-logo img {
  margin-bottom: -600px;
}

.naming-text {
  font-family: 'Cherolina';
  color: $primary-gold-color;
  font-size: 10rem;
}

.navbar-link {
  font-family: 'saudagar';
  font-size: 2rem;
}
  // TOGGLE

.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: $blue-color;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $red-color;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-image: url('../../assets/images/english-flag.png');
  background-size: 100% 100%;
}

.mat-slide-toggle-thumb {
  background-image: url('../../assets/images/french-flag.png');
  background-size: 100% 100%;
}
