@import "variables.scss";

.notifications {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  min-width: 400px;
  max-width: 400px;

  .notification {
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;

    .title {
      background: rgba(0, 0, 0, 0.6);
      padding-left: 10px;
      font-weight: bold;
    }

    .message {
      padding: 10px;
      max-height: 200px;
      overflow-y: auto;
      color: $dark-color;
    }

    &.info {
      background-color: $third-secondary-blue-shadow-dark-2;
    }

    &.success {
      background-color: $prmary-positive-color;
    }

    &.warning {
      background-color: rgba(217, 95, 2, 0.9);
    }

    &.error {
      background-color: $primary-negative-color
    }
  }
}

@media only screen and (max-width: 540px) {
  .notifications {
    min-width: 80%;
    max-width: 80%;
  }
}
