<footer class="footer-container">
  <div class="container">
    <div class="footer-main d-flex flex-wrap justify-content-center pt-5">
      <div class="mini-logo col-md-5 col-sm-5 col-12 d-flex justify-content-center align-items-center mb-4">
        <img src="/assets/images/arrow.png" alt="Logo" />
      </div>
      <div class="contact col-md-4 col-sm-4 col-12 d-flex flex-column justify-content-center align-items-start">
        <h4 class="contact-header" i18n>Get in touch</h4>
        <div class="">
          <ul>
            <li>
              <p class="contact-information d-flex align-items-center">
                <i class="las la-phone"></i>
                <a class="" href="tel:+33648605205">+33 6 48 60 52 05</a>
              </p>
            </li>
            <li>
              <p class="contact-information d-flex align-items-center">
                <i class="las la-at"></i>
                <a class="" href="mailto:cy.gibertperso@gmail.com">cy.gibertperso@gmail.com</a>
              </p>
            </li>
            <li>
              <p class="contact-information d-flex align-items-center">
                <i class="las la-map-pin"></i>
                <a class="" href="https://goo.gl/maps/3MQPA4334ASqsAHV9">Route des Saintes Maries de la Mer<br>
                  30220 Saint-Laurent-d'Aigouze</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-12 d-flex flex-column justify-content-center align-items-center mt-4">
        <p>Clement & Huyen 2023</p>
        <h5>&copy; CDX</h5>
      </div>
    </div>
    <div class="col-12 d-flex flex-wrap justify-content-between mt-2">
      <div
        class="footer-sud-menu footer-link col-md-6 col-sm-6 col-12 d-flex justify-content-between align-items-start">
        <ul>
          <li>
            <a class="blue-link text-link unselectable-content" routerLink="/home" routerLinkActive="active-link">
              <span i18n>Home</span>
            </a>
          </li>
          <li> <a class="blue-link text-link unselectable-content" routerLink="/information"
              routerLinkActive="active-link">
              <span i18n>Information</span>
            </a></li>
          <li> <a class="blue-link text-link unselectable-content" routerLink="/register"
              routerLinkActive="active-link">
              <span i18n>Registry</span>
            </a></li>
          <li> <a class="blue-link text-link unselectable-content" routerLink="/photo" routerLinkActive="active-link">
              <span i18n>Gallery</span>
            </a></li>
        </ul>
      </div>
      <div class="social col-md-6 col-sm-6 col-12 d-flex align-items-start justify-content-end">
        <a class="blue-link" href="https://www.instagram.com/huyenkaletty/">
          <i class="lab la-instagram"></i>
        </a>
        <a class="blue-link" href="https://www.linkedin.com/in/cl%C3%A9ment-gibert-7012/">
          <i class="lab la-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
